@import "../../styles/variables";

.restaurants__container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    height: 110vh;
    padding-top: 10vh;
    background-color: $main-bg-color;
}

.restaurants {
    background-color: $main-bg-color;
}

.restaurant {
    position: relative;
    width: 23.8vw;
    height: 23.8vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3.5vw;
    margin-left: 3.5vw;

    &__details {
        width: 23.8vw;
        height: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 3.5vw;
        position: relative;
        bottom: 33vh;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        font-size: 42px;
        color: $white-color;
        background-color: rgba(0, 0, 0, 0.72);
        z-index: -3;
    }

    &__details:hover {
        z-index: 999;
    }
}

div:hover >  .restaurant__details {
    z-index: 999;
}

.restaurant > p {
    background-color: $white-color;
    width: 23.8vw;
    line-height: 100px;
    position: relative;
    bottom: 80px;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: $restaurants-txt-color;
}

.restaurant > img {
    width: 23.8vw;
    height: 23.8vw;
}

@media screen and (min-width: 1439px) {
    .restaurant > p {
        font-size: 36px;
    }
  }