@import "../../styles/main.scss";

.header_rest {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../../../public/img/header_img.png) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */

    &__btn {
        width: 13vw;
        height: 58%;
        background-color: $white-color;
        border-radius: 15px;
        border: none;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 25px;
        font-weight: 700;
        color: $white-color;
        margin-right: 100px;
        color: $log-in-bg;
    }
}

.header_rest > img {
    padding-left: 100px;
    width: 74px;
    height: 45px;
}

@media screen and (min-width: 1439px) {
    .header_rest {
        &__btn {
            font-size: 32px;
            border-radius: 23px;
        }
    }
  }