$brown-btn-color: #A6886D;
$white-color: #fff;
$white-btn-color:#F2F2F2;
$white-btn-text:#A6886D;
$form-input-color:#F2F2F2;
$form-input-text:#877169;
$form-input-values: #593A2E;
$borderline:rgba(255, 255, 255, 0.63);
$log-in-bg:#736253;
$log-in-heading-color:#DBCBBE;
$log-in-subheading-color: #F2F2F2;
$sign-up-btn-color:  #F2F2F2;
$sign-up-btn-txt:#A6886D;