@import "../../styles/main.scss";

.search {
    margin-top:10vh;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;

    &__container {
        width: 77.8%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    
    &__inputs {
        width: 83%;
        height: 58.9%;
        justify-content: space-around;
        align-items: center;
        display: flex;
        border: 3px solid $white-color;
        border-radius: 22px;
        backdrop-filter: blur(15px);
    }

    &__inputs--dark {
        background-color: $search-dark-bg;
        backdrop-filter: none;
    }

    &__btn {
        width: 14%;
        height: 30%;
        background-color: $white-btn-color;
        color: $white-btn-text;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 28px;
        font-weight: 700;
        border-radius: 13px;
        border: none;
    }

    &__btn--dark {
        background-color: $search-button-dark;
        color: $white-color;
    }

    &__time, &__date, &__visit {
        width: 13.5%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__param {
        color: $white-color;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 32px;
        font-weight: 400;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    &__line {
        width: 0;
        height: 63.6%;
        border: 3px solid $borderline;
    }
}

.input {

    &__search-rest{
        width: 32.8%;
        height: 41.7%;
        border: none;
        background-color: $form-input-color;
        color: $form-input-text;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 25px;
        text-align:center;
        border-radius: 8px;
        border:none;
    }

    &__search-rest::placeholder{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 25px;
        text-align:center;
    }

    &__visit-num, &__time, &__date {
        width: 100%;
        height: 31.8%;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 17px;
        background-color: $form-input-color;
        color: $form-input-values;
        text-align:center;
        border-radius: 7px;
        border:none;
    }

    
}